boltons==21.0.0
fastapi==0.86.0
matplotlib
numpy
scipy
tifffile
torch>=1.10
torchinfo
boltons
pytorch-lightning
pyyaml
scikit-image
scikit-learn
neptune-client>=0.14.2
scikit-video==1.1.11
tangled-up-in-unicode==0.1.0
tifffile==2021.11.2
torch==1.10.0
torchinfo==1.6.3
typing_extensions>=3.10.0, <4.0.0.0
cosine_annealing_warmup @ https://github.com/katsura-jp/pytorch-cosine-annealing-with-warmup/tarball/master#egg=cosine_annealing_warmup